.main-navigation {

    li {

        a {
            padding: 6px;
            font-size: 15px;
            border: 2px solid transparent;
            border-radius: 10px;

            &:hover {

                border: 2px solid #040025;
                background-color: #fff;
                color: #040025 !important;
            }
        }
    }

    .sub-menu {

        li {

            a {

                &:hover {

                    background-color: #e6e3ff !important;
                    border: 2px solid #e6e3ff !important;
                }

                &:active {

                    background-color: #e6e3ff !important;
                    border: 2px solid #e6e3ff !important;
                }

                &:focus {

                    background-color: #e6e3ff !important;
                    border: 2px solid #e6e3ff !important;
                }
            }
        }
    }
}

.nav-home-one.restly-header-main-menu .sub-menu>li {
    margin-right: 0px !important;
}

.actve-menu-top {

    background-color: #fff;
    font-size: 15px;
    // font-weight: bold !important;
    border-radius: 10px;
    padding: 6px;
    border: 2px solid #040025 !important;
    color: #040025 !important;
}